<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/img/logo.png">
    <title>Microblog</title>
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/assets/vendor/slick/slick/slick.css" rel="stylesheet">
    <link href="/assets/vendor/slick/slick/slick-theme.css" rel="stylesheet">

    <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">

    <link href="/assets/vendor/icons/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">

    <link href="/assets/css/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-light">
<div class="theme-switch-wrapper ms-3">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox">
        <span class="slider round"></span>
        <i class="icofont-ui-brightness"></i>
    </label>
    <em>Enable Dark Mode!</em>
</div>
<div class="web-none d-flex align-items-center px-3 pt-3">
    <a href="/" class="text-decoration-none">
        <img src="/assets/img/logo.png" class="img-fluid logo-mobile" alt="brand-logo">
    </a>
    <button class="ms-auto btn btn-primary ln-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <span class="material-icons">menu</span>
    </button>
</div>
<div class="py-4">
    <div class="container">
        <div class="row position-relative">

            <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                <div class="main-content">
                    <div class="mb-5">
                        <header class="profile d-flex align-items-center">
                            <div>
                                <span class="text-muted text_short">WELCOME 👋</span>
                                <h4 class="mb-0 text-dark"><span class="fw-bold" id="currentUser">Undefines</span></h4>
                            </div>
                        </header>
                    </div>

                    <div class="feeds">

                        <div class="bg-white p-4 feed-item rounded-4 shadow-sm mb-3 faq-page">
                            <div class="mb-3">
                                <h5 class="lead fw-bold text-body mb-0">Edit Profile</h5>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                                    <form id="editProfileForm">
                                        <div class="form-floating mb-3 d-flex align-items-end">
                                            <input type="text" class="form-control rounded-5" id="name" value="AskBootstrap" placeholder="first">
                                            <label for="name">NAME</label>
                                        </div>
                                        <div class="form-floating mb-3 d-flex align-items-center">
                                            <input type="text" class="form-control rounded-5" id="username" placeholder="iamosahan@gmail.com" value="iamosahan@gmail.com">
                                            <label for="username">USERNAME</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <textarea class="form-control" placeholder="Say something about you" id="bio" style="height: 100px"></textarea>
                                            <label for="bio">BIO</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="file" id="fileInput" class="form-control">
                                            <label for="fileInput">Profile Photo</label>
                                        </div>
                                        <div class="d-grid">
                                            <button class="btn btn-primary rounded-5 w-100 text-decoration-none py-3 fw-bold text-uppercase m-0">SAVE</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="bg-white p-4 feed-item rounded-4 shadow-sm faq-page mb-3">
                            <div class="mb-3">
                                <h5 class="lead fw-bold text-body mb-0">Change your password
                                </h5>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-12">
                                    <form id="changePasswordForm">
                                        <div class="form-floating mb-3 d-flex align-items-center">
                                            <input type="password" class="form-control rounded-5" id="oldPassword" placeholder="old password">
                                            <label for="oldPassword">OLD PASSWORD</label>
                                        </div>
                                        <div class="form-floating mb-3 d-flex align-items-center">
                                            <input type="password" class="form-control rounded-5" id="newPassword" placeholder="new password">
                                            <label for="newPassword">NEW PASSWORD</label>
                                        </div>
                                        <div class="form-floating mb-3 d-flex align-items-center">
                                            <input type="password" class="form-control rounded-5" id="confirmPassword" placeholder="confirm password">
                                            <label for="confirmPassword">CONFIRM PASSWORD</label>
                                        </div>
                                        <div class="d-grid">
                                            <button class="btn btn-primary w-100 text-decoration-none rounded-5 py-3 fw-bold text-uppercase m-0">Confirm</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
                <div class="p-2 bg-light offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample">
                    <div class="sidebar-nav mb-3">
                        <div class="pb-4">
                            <a href="/" class="text-decoration-none">
                                <img src="/assets/img/logo.png" class="img-fluid logo" alt="brand-logo">
                            </a>
                        </div>
                        <ul class="navbar-nav justify-content-end flex-grow-1">
                            <li class="nav-item">
                                <a href="/" class="nav-link active"><span class="material-icons me-3">house</span> <span>Feed</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/edit-profile" class="nav-link"><span class="material-icons me-3">account_circle</span> <span>Profile</span></a>
                            </li>
                            <li class="nav-item logoutBtn">
                                <a href="#" class="nav-link"><span class="material-icons me-3">logout</span> <span>Logout</span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- Card for user details -->
                    <div class="me-2 bg-white shadow-sm rounded-4 p-2 user-list-item d-flex flex-row gap-3 justify-content-center my-2 user-card card" style="display: none;">
                        <img class="user-avatar img-fluid rounded-circle user-img" width="30" src="#" alt="User Profile">
                        <div class="">
                            <h5 class="user-full-name card-text"></h5>
                            <p class="user-name card-title"></p>
                        </div>
                    </div>

                    <!-- Sign In button -->
                    <a href="/signup" class="sign-in-button btn btn-primary w-100 text-decoration-none rounded-4 py-3 fw-bold text-uppercase m-0">Sign In +</a>
                </div>

                <div class="ps-0 m-none fix-sidebar">
                    <div class="sidebar-nav mb-3">
                        <div class="pb-4 mb-4">
                            <a href="/" class="text-decoration-none">
                                <img src="/assets/img/logo.png" class="img-fluid logo" alt="brand-logo">
                            </a>
                        </div>
                        <ul class="navbar-nav justify-content-end flex-grow-1">
                            <li class="nav-item">
                                <a href="/" class="nav-link active"><span class="material-icons me-3">house</span> <span>Feed</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/edit-profile" class="nav-link"><span class="material-icons me-3">account_circle</span> <span>Profile</span></a>
                            </li>
                            <li class="nav-item logoutBtn">
                                <a href="#" class="nav-link"><span class="material-icons me-3">logout</span> <span>Logout</span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- Card for user details -->
                    <div class="me-2 bg-white shadow-sm rounded-4 p-2 user-list-item d-flex flex-row gap-3 justify-content-center my-2 user-card card" style="display: none;">
                        <img class="user-avatar img-fluid rounded-circle user-img" width="30" src="#" alt="User Profile">
                        <div class="">
                            <h5 class="user-full-name card-text"></h5>
                            <p class="user-name card-title"></p>
                        </div>
                    </div>

                    <!-- Sign In button -->
                    <a href="/signup" class="sign-in-button btn btn-primary w-100 text-decoration-none rounded-4 py-3 fw-bold text-uppercase m-0">Sign In +</a>
                </div>
            </aside>
        </div>
    </div>
</div>
<div class="py-3 bg-white footer-copyright">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <span class="me-3 small">©2023 <b class="text-primary">Microblog</b>. All rights reserved</span>
            </div>
            <div class="col-md-4 text-end">
                <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-facebook"></i></a>
                <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-twitter"></i></a>
                <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-linkedin"></i></a>
                <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-youtube-play"></i></a>
                <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-instagram"></i></a>
            </div>
        </div>
    </div>
</div>

<script src="/assets/vendor/jquery/jquery.min.js" type="text/javascript"></script>

<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>

<script src="/assets/js/custom.js" type="text/javascript"></script>

<script src="/assets/vendor/slick/slick/slick.min.js" type="text/javascript"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const userCards = document.querySelectorAll('.user-card');
        const signInButtons = document.querySelectorAll('.sign-in-button');

        // Function to check if user details exist in local storage
        function checkUserDetails() {
            const userDetails = JSON.parse(localStorage.getItem('userDetails'));
            if (userDetails) {
                // Loop through each user card
                userCards.forEach(function (userCard) {
                    // Display user card
                    userCard.style.display = 'block';
                    // Update user card with user details
                    const userAvatarElements = userCard.querySelectorAll('.user-avatar');
                    userAvatarElements.forEach(function (userAvatar) {
                        userAvatar.src = userDetails.photoImagePath;
                    });
                    const userNameElements = userCard.querySelectorAll('.user-name');
                    userNameElements.forEach(function (userName) {
                        userName.textContent = '@' + userDetails.username;
                    });
                    const userFullNameElements = userCard.querySelectorAll('.user-full-name');
                    userFullNameElements.forEach(function (userFullName) {
                        userFullName.textContent = userDetails.name;
                    });

                    // Wrap the user card with an anchor tag to make it a profile link
                    const profileLink = document.createElement('a');
                    profileLink.href = '/profile/@' + userDetails.username; // Adjust the profile link URL
                    profileLink.appendChild(userCard.cloneNode(true)); // Clone the user card content
                    userCard.parentNode.replaceChild(profileLink, userCard); // Replace the original user card with the profile link
                });
                // Loop through each sign-in button
                signInButtons.forEach(function (signInButton) {
                    // Hide Sign In button
                    signInButton.style.display = 'none';
                });
            } else {
                // Loop through each user card
                userCards.forEach(function (userCard) {
                    // Hide user card
                    userCard.style.display = 'none';
                });
                // Loop through each sign-in button
                signInButtons.forEach(function (signInButton) {
                    // Display Sign In button
                    signInButton.style.display = 'block';
                });
            }
        }

        // Call the function to check user details when the page loads
        checkUserDetails();
    });

    $(document).ready(function() {
        const userDetails = JSON.parse(localStorage.getItem('userDetails'));
        if (!userDetails) {
            alert("Please log in.");
            window.location.href = "/login";
            return;
        }

        var userId = userDetails.id;
        $('#currentUser').text(userDetails.name);
        $('.profile #user-avatar').src = userDetails.photoImagePath;

        function fetchUserDetails() {
            $.ajax({
                url: `/api/user/${userId}`,
                method: 'GET',
                success: function(user) {
                    $('#name').val(user.name);
                    $('#username').val(user.username);
                    $('#bio').val(user.bio);
                },
                error: function(error) {
                    console.error("Error fetching user details:", error);
                }
            });
        }

        $('#editProfileForm').on('submit', function(event) {
            event.preventDefault();

            const formData = new FormData();
            formData.append('name', $('#name').val());
            formData.append('username', $('#username').val());
            formData.append('bio', $('#bio').val());

            const fileInput = $('#fileInput')[0];
            if (fileInput.files.length > 0) {
                formData.append('photo', fileInput.files[0]);
            }

            $.ajax({
                url: `/api/user/${userId}`,
                method: 'PUT',
                contentType: false, // Needed for FormData
                processData: false, // Needed for FormData
                data: formData,
                success: function(response) {
                    alert("Profile updated successfully.");
                    localStorage.setItem('userDetails', JSON.stringify(response.data));
                },
                error: function(error) {
                    console.error("Error updating profile:", error);
                    alert("Error updating profile. Please try again.");
                }
            });
        });

        fetchUserDetails();

        $('#changePasswordForm').on('submit', function(event) {
            event.preventDefault();

            const oldPassword = $('#oldPassword').val();
            const newPassword = $('#newPassword').val();
            const confirmPassword = $('#confirmPassword').val();

            if (newPassword !== confirmPassword) {
                alert("New passwords do not match.");
                return;
            }

            const passwordData = {
                oldPassword: oldPassword,
                newPassword: newPassword,
                confirmPassword: confirmPassword
            };

            $.ajax({
                url: `/api/user/${userId}/change-password`,
                method: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(passwordData),
                success: function(response) {
                    alert("Password changed successfully.");
                    $('#oldPassword').val('');
                    $('#newPassword').val('');
                    $('#confirmPassword').val('');
                },
                error: function(error) {
                    console.error("Error changing password:", error);
                    alert(error.responseJSON.message || "Error changing password. Please try again.");
                }
            });
        });

        $('.logoutBtn a').on('click', function(event) {
            event.preventDefault();
            // Clear user details from localStorage
            localStorage.removeItem('userDetails');
            // Redirect to the logout endpoint or homepage
            window.location.href = "/login"; // Change to your actual logout endpoint if necessary
        });

    });


</script>
</body>
</html>
