<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/assets/img/logo.png">
    <title>Microblog</title>
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/assets/vendor/slick/slick/slick.css" rel="stylesheet">
    <link href="/assets/vendor/slick/slick/slick-theme.css" rel="stylesheet">

    <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">

    <link href="/assets/vendor/icons/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">

    <link href="/assets/css/style.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-light">
<div class="theme-switch-wrapper ms-3">
    <label class="theme-switch" for="checkbox">
        <input type="checkbox" id="checkbox">
        <span class="slider round"></span>
        <i class="icofont-ui-brightness"></i>
    </label>
    <em>Enable Dark Mode!</em>
</div>
<div class="web-none d-flex align-items-center px-3 pt-3">
    <a href="index.html" class="text-decoration-none">
        <img src="/assets/img/logo.png" class="img-fluid logo-mobile" alt="brand-logo">
    </a>
    <button class="ms-auto btn btn-primary ln-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <span class="material-icons">menu</span>
    </button>
</div>
<div class="py-4">
    <div class="container">
        <div class="row position-relative">

            <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                <div class="main-content">
                    <div class="mb-4 d-flex align-items-center">
                        <div class="d-flex align-items-center">
                            <a href="/" class="material-icons text-dark text-decoration-none m-none me-3">arrow_back</a>
                            <p class="ms-2 mb-0 fw-bold text-body fs-6" id="username">Shay Jordon</p>
                        </div>
                        <a href="#" class="text-decoration-none material-icons md-20 ms-auto text-muted">share</a>
                    </div>
                    <div class="bg-white rounded-4 shadow-sm profile" id="profile-container">
<!--                        <div class="d-flex align-items-center px-3 pt-3">-->
<!--                            <img src="img/rmate2.jpg" class="img-fluid rounded-circle" alt="profile-img">-->
<!--                            <div class="ms-3">-->
<!--                                <h6 class="mb-0 d-flex align-items-start text-body fs-6 fw-bold">Shay Jordon <span class="ms-2 material-icons bg-primary p-0 md-16 fw-bold text-white rounded-circle ov-icon">done</span></h6>-->
<!--                                <p class="text-muted mb-0">@shay-jordon</p>-->
<!--                            </div>-->
<!--                            <div class="ms-auto btn-group" role="group" aria-label="Basic checkbox toggle button group">-->
<!--                                <input type="checkbox" class="btn-check" id="btncheck1">-->
<!--                                <label class="btn btn-outline-primary btn-sm px-3 rounded-pill" for="btncheck1"><span class="follow">+ Follow</span><span class="following d-none">Following</span></label>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="p-3">-->
<!--                            <p class="mb-2 fs-6">The standard chunk of Lorem Ipsum used since is reproduced. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature..</p>-->
<!--                            <p class="d-flex align-items-center mb-3"><span class="material-icons me-2 rotate-320 text-muted md-16">link</span><a href="profile.html" class="text-decoration-none">profile/shayjordon</a>-->
<!--                                <span class="material-icons me-2 text-muted md-16 ms-4">calendar_today</span><span>Joined on Feb 2023</span>-->
<!--                            </p>-->
<!--                            <div class="d-flex followers">-->
<!--                                <div>-->
<!--                                    <p class="mb-0">391k <span class="text-muted">Followers</span></p>-->
<!--                                    <div class="d-flex">-->
<!--                                        <img src="img/rmate1.jpg" class="img-fluid rounded-circle" alt="follower-img">-->
<!--                                        <img src="img/rmate2.jpg" class="img-fluid rounded-circle" alt="follower-img">-->
<!--                                        <img src="img/rmate3.jpg" class="img-fluid rounded-circle" alt="follower-img">-->
<!--                                        <img src="img/rmate4.jpg" class="img-fluid rounded-circle" alt="follower-img">-->
<!--                                        <img src="img/rmate5.jpg" class="img-fluid rounded-circle" alt="follower-img">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="ms-5 ps-5">-->
<!--                                    <p class="mb-0">3 <span class="text-muted">Following</span></p>-->
<!--                                    <div class="d-flex">-->
<!--                                        <img src="img/rmate1.jpg" class="img-fluid rounded-circle" alt="follower-img">-->
<!--                                        <img src="img/rmate2.jpg" class="img-fluid rounded-circle" alt="follower-img">-->
<!--                                        <img src="img/rmate3.jpg" class="img-fluid rounded-circle" alt="follower-img">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                    <ul class="top-osahan-nav-tab nav nav-pills justify-content-center nav-justified mb-4 shadow-sm rounded-4 overflow-hidden bg-white mt-4" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="p-3 nav-link text-muted active" id="pills-feed-tab" data-bs-toggle="pill" data-bs-target="#pills-feed" type="button" role="tab" aria-controls="pills-feed" aria-selected="true">Post</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="p-3 nav-link text-muted" id="pills-people-tab" data-bs-toggle="pill" data-bs-target="#pills-people" type="button" role="tab" aria-controls="pills-people" aria-selected="false">Liked</button>
                        </li>
                    </ul>

                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-feed" role="tabpanel" aria-labelledby="pills-feed-tab">

                            <div class="ms-1">

                                <div class="feeds" id="postsContainer">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
                <div class="p-2 bg-light offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample">
                    <div class="sidebar-nav mb-3">
                        <div class="pb-4">
                            <a href="/" class="text-decoration-none">
                                <img src="/assets/img/logo.png" class="img-fluid logo" alt="brand-logo">
                            </a>
                        </div>
                        <ul class="navbar-nav justify-content-end flex-grow-1">
                            <li class="nav-item">
                                <a href="/" class="nav-link active"><span class="material-icons me-3">house</span> <span>Feed</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/edit-profile" class="nav-link"><span class="material-icons me-3">account_circle</span> <span>Profile</span></a>
                            </li>
                            <li class="nav-item logoutBtn">
                                <a href="#" class="nav-link"><span class="material-icons me-3">logout</span> <span>Logout</span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- Card for user details -->
                    <div class="me-2 bg-white shadow-sm rounded-4 p-2 user-list-item d-flex flex-row gap-3 justify-content-center my-2 user-card card" style="display: none;">
                        <img class="user-avatar img-fluid rounded-circle user-img" width="30" src="#" alt="User Profile">
                        <div class="">
                            <h5 class="user-full-name card-text"></h5>
                            <p class="user-name card-title"></p>
                        </div>
                    </div>

                    <!-- Sign In button -->
                    <a href="/signup" class="sign-in-button btn btn-primary w-100 text-decoration-none rounded-4 py-3 fw-bold text-uppercase m-0">Sign In +</a>
                </div>

                <div class="ps-0 m-none fix-sidebar">
                    <div class="sidebar-nav mb-3">
                        <div class="pb-4 mb-4">
                            <a href="/" class="text-decoration-none">
                                <img src="/assets/img/logo.png" class="img-fluid logo" alt="brand-logo">
                            </a>
                        </div>
                        <ul class="navbar-nav justify-content-end flex-grow-1">
                            <li class="nav-item">
                                <a href="/" class="nav-link active"><span class="material-icons me-3">house</span> <span>Feed</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/edit-profile" class="nav-link"><span class="material-icons me-3">account_circle</span> <span>Profile</span></a>
                            </li>
                            <li class="nav-item logoutBtn">
                                <a href="#" class="nav-link"><span class="material-icons me-3">logout</span> <span>Logout</span></a>
                            </li>
                        </ul>
                    </div>
                    <!-- Card for user details -->
                    <div class="me-2 bg-white shadow-sm rounded-4 p-2 user-list-item d-flex flex-row gap-3 justify-content-center my-2 user-card card" style="display: none;">
                        <img class="user-avatar img-fluid rounded-circle user-img" width="30" src="#" alt="User Profile">
                        <div class="">
                            <h5 class="user-full-name card-text"></h5>
                            <p class="user-name card-title"></p>
                        </div>
                    </div>

                    <!-- Sign In button -->
                    <a href="/signup" class="sign-in-button btn btn-primary w-100 text-decoration-none rounded-4 py-3 fw-bold text-uppercase m-0">Sign In +</a>
                </div>
            </aside>
        </div>
    </div>
</div>
<div class="py-3 bg-white footer-copyright">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <span class="me-3 small">©2023 <b class="text-primary">Microblog</b>. All rights reserved</span>
            </div>
            <div class="col-md-4 text-end">
                <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-facebook"></i></a>
                <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-twitter"></i></a>
                <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-linkedin"></i></a>
                <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-youtube-play"></i></a>
                <a target="_blank" href="#" class="btn social-btn btn-sm text-decoration-none"><i class="icofont-instagram"></i></a>
            </div>
        </div>
    </div>
</div>

<script src="/assets/vendor/jquery/jquery.min.js" type="text/javascript"></script>

<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>

<script src="/assets/js/custom.js" type="text/javascript"></script>

<script src="/assets/vendor/slick/slick/slick.min.js" type="text/javascript"></script>
<script>
    const userDetails = JSON.parse(localStorage.getItem('userDetails'));
    if (userDetails===null) {
        alert("logout Successfully");
        window.location.href = "/login";
    }else{
        var userId = userDetails.id;
    }
    document.addEventListener('DOMContentLoaded', function () {
        const fileInput = document.getElementById('fileInput');
        const uploadButton = document.getElementById('uploadButton');

        // Function to trigger file input click event
        function triggerFileInput() {
            fileInput.click();
        }

        // Add event listener to the upload button
        uploadButton.addEventListener('click', function (event) {
            event.preventDefault();
            triggerFileInput();
        });

        // Add event listener to the file input to handle file selection
        fileInput.addEventListener('change', function () {
            // Handle file selection here
            console.log('File selected:', fileInput.files[0]);
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        const userCards = document.querySelectorAll('.user-card');
        const signInButtons = document.querySelectorAll('.sign-in-button');

        // Function to check if user details exist in local storage
        function checkUserDetails() {
            const userDetails = JSON.parse(localStorage.getItem('userDetails'));
            if (userDetails) {
                // Loop through each user card
                userCards.forEach(function (userCard) {
                    // Display user card
                    userCard.style.display = 'block';
                    // Update user card with user details
                    const userAvatarElements = userCard.querySelectorAll('.user-avatar');
                    userAvatarElements.forEach(function (userAvatar) {
                        userAvatar.src = userDetails.photoImagePath;
                    });
                    const userNameElements = userCard.querySelectorAll('.user-name');
                    userNameElements.forEach(function (userName) {
                        userName.textContent = userDetails.username;
                    });
                    const userFullNameElements = userCard.querySelectorAll('.user-full-name');
                    userFullNameElements.forEach(function (userFullName) {
                        userFullName.textContent = userDetails.name;
                    });
                });
                // Loop through each sign-in button
                signInButtons.forEach(function (signInButton) {
                    // Hide Sign In button
                    signInButton.style.display = 'none';
                });
            } else {
                // Loop through each user card
                userCards.forEach(function (userCard) {
                    // Hide user card
                    userCard.style.display = 'none';
                });
                // Loop through each sign-in button
                signInButtons.forEach(function (signInButton) {
                    // Display Sign In button
                    signInButton.style.display = 'block';
                });
            }
        }

        // Call the function to check user details when the page loads
        checkUserDetails();
    });

    $(document).ready(function() {
        const pathArray = window.location.pathname.split('/');
        const username = pathArray[2].substring(1); // Extracts username from URL
        console.log(username);
        // Fetch user details
        var userId;

        function fetchUserDetails() {
            $.ajax({
                url: `/api/user/username/${username}`,
                method: 'GET',
                success: function(user) {
                    userId = user.id;  // Assign userId correctly
                    displayUserDetails(user);

                    // Fetch followers only after userId is set
                    $.ajax({
                        type: 'GET',
                        url: `/api/user/${userId}/followers`, // Fetch followers
                        success: function(followers) {
                            displayFollowers(followers);
                        },
                        error: function(xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });

                    // Fetch following only after userId is set
                    $.ajax({
                        type: 'GET',
                        url: `/api/user/${userId}/following`, // Fetch following
                        success: function(following) {
                            displayFollowing(following);
                        },
                        error: function(xhr, status, error) {
                            console.error(xhr.responseText);
                        }
                    });
                },
                error: function(error) {
                    console.error("Error fetching user details:", error);
                }
            });
        }

        function displayFollowers(followers) {
            let totalFollowers = followers.length;
            let followersImagesHtml = followers.slice(0, 5).map(function(follower) {
                return `<img src="${follower.photoImagePath}" class="img-fluid rounded-circle" alt="follower-img">`;
            }).join('');

            // Update the HTML with follower details
            $('.follower .follower-count').text(`${totalFollowers} Followers`);
            $('.follower .follower-images').html(followersImagesHtml);
        }

        function displayFollowing(following) {
            let totalFollowing = following.length;
            let followingImagesHtml = following.slice(0, 5).map(function(followingUser) {
                return `<img src="${followingUser.photoImagePath}" class="img-fluid rounded-circle" alt="following-img">`;
            }).join('');

            // Update the HTML with following details
            $('.following .following-count').text(`${totalFollowing} Following`);
            $('.following .following-images').html(followingImagesHtml);
        }

        // Display user details
        function displayUserDetails(user) {
            if (user === null) {
                $('#profile-container').append('<p class="text-muted">No users to display.</p>');
                $('#username').append('<p class="text-muted">User undefined.</p>');
                return;
            }

            let userHtml = `
                <div class="d-flex align-items-center px-3 pt-3">
                    <img src="${user.photoImagePath}" class="img-fluid rounded-circle" alt="profile-img">
                    <div class="ms-3">
                        <h6 class="mb-0 d-flex align-items-start text-body fs-6 fw-bold">${user.name}
                            <span class="ms-2 material-icons bg-primary p-0 md-16 fw-bold text-white rounded-circle ov-icon">done</span>
                        </h6>
                        <p class="text-muted mb-0">@${user.username}</p>
                    </div>
                    <div class="ms-auto btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check" id="btncheck1">
                        <label class="btn btn-outline-primary btn-sm px-3 rounded-pill" for="btncheck1">
                            <span class="follow">+ Follow</span>
                            <span class="following d-none">Following</span>
                        </label>
                    </div>
                </div>
                <div class="p-3">
                     ${user.bio !== null ? `<p class="mb-2 fs-6">${user.bio}</p>` : ''}
                    <p class="d-flex align-items-center mb-3">
                        <span class="material-icons me-2 rotate-320 text-muted md-16">link</span>
                        <a href="/profile/@${user.username}" class="text-decoration-none">profile/@${user.username}</a>
                        <span class="material-icons me-2 text-muted md-16 ms-4">calendar_today</span>
                        <span>Joined on ${new Date(user.createdAt).toLocaleDateString()}</span>
                    </p>
                    <div class="d-flex followers">
                        <div class="follower">
                             <p class="follower-count">0 Followers</p>
                             <div class="follower-images d-flex">
                             </div>
                        </div>
                        <div class="ms-5 ps-5 following">
                            <p class="following-count">0 Following</p>
                            <div class="following-images d-flex">
                            </div>
                        </div>
                    </div>
                </div>`;

            $('#profile-container').html(userHtml);
            $('#username').text(user.name);

            fetchUserPosts(user.id);

        }

        fetchUserDetails();

        // Fetch user posts
        function fetchUserPosts(userId) {
            $.ajax({
                url: `/api/user/${userId}/posts`,
                method: 'GET',
                success: function(posts) {
                    displayUserPosts(posts);
                    console.log(posts)
                },
                error: function(error) {
                    console.error("Error fetching user posts:", error);
                }
            });
        }

        // Display user posts
        function displayUserPosts(posts) {
            posts.forEach(function(post) {
                var postHtml = `
                    <div class="bg-white p-3 feed-item rounded-4 mb-3 shadow-sm">
                        <div class="d-flex">
                            <img src="${post.user.photoImagePath}" class="img-fluid rounded-circle user-img" alt="profile-img" />
                            <div class="d-flex ms-3 align-items-start w-100">
                                <div class="w-100">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <a href="/profile/@${post.user.username}" class="text-decoration-none d-flex align-items-center">
                                            <h6 class="fw-bold mb-0 text-body">${post.user.name}</h6>
                                            <span class="ms-2 material-icons bg-primary p-0 md-16 fw-bold text-white rounded-circle ov-icon">done</span>
                                            <small class="text-muted ms-2">@${post.user.username}</small>
                                        </a>
                                    </div>
                                    <div class="my-2">
                                        <a href="/post/${post.id}" class="text-decoration-none">
                                            <p class="text-dark">${post.content}</p>
                                            ${post.image !== null ? `<img src="${post.imagePath}" class="img-fluid rounded mb-3">` : ''}
                                        </a>
                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                            <div>
                                                <div class="likeBtn small d-flex align-items-center text-muted text-decoration-none" data-post-id="${post.id}">
                                                    <span class="material-icons md-20 me-2">thumb_up_off_alt</span>
                                                    <span class="likeCount" data-post-id="${post.id}"></span>
                                                </div>
                                            </div>
                                            <div>
                                                <a href="#" class="text-muted text-decoration-none d-flex align-items-start fw-light">
                                                    <span class="material-icons md-20 me-2">chat_bubble_outline</span>
                                                    <span class="commentCount" data-post-id="${post.id}"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="mb-2">
                                            <div class="d-flex align-items-center">
                                                <span class="material-icons bg-white border-0 text-primary pe-2 md-36">account_circle</span>
                                                <form data-post-id="${post.id}" class="commentForm d-flex align-items-center w-100">
                                                    <input type="text" name="content" class="form-control form-control-sm rounded-3 fw-light" placeholder="Write Your comment">
                                                    <button class="bg-white border-0 text-primary ps-2 text-decoration-none">Post</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="comments" id="post-${post.id}-comments">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
                $("#postsContainer").append(postHtml);
                fetchCommentsForPost(post.id);
                loadLikes(post.id);
            });
            $('#posts-container').html(postHtml);
        }

        // Function to load likes for a post
        function loadLikes(postId) {
            $.ajax({
                type: "GET",
                url: `http://localhost:8080/api/likes/post/${postId}`, // Assuming this endpoint fetches likes for a specific post
                success: function(likes) {
                    var likeCount = likes.length;
                    $(`.likeCount[data-post-id="${postId}"]`).text(likeCount);

                    // Check if the current user has liked this post
                    var currentUserLiked = likes.some(function(like) {
                        return like.user.id === userId;
                    });

                    if (currentUserLiked) {
                        $(`.likeBtn[data-post-id="${postId}"]`).addClass('liked'); // Add a class to indicate that the post is liked
                        $(`.likeBtn[data-post-id="${postId}"] .material-icons`).text('thumb_up_alt').css('color', 'blue');
                    }
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        // Function to handle toggling likes
        $(document).on('click', '.likeBtn', function() {
            var postId = $(this).data('post-id');
            var likeBtn = $(this);

            if (likeBtn.hasClass('liked')) {
                // User is unliking the post
                $.ajax({
                    type: "DELETE",
                    url: "http://localhost:8080/api/likes/unlike",
                    data: {
                        postId: postId,
                        userId: userId
                    },
                    success: function(response) {
                        likeBtn.removeClass('liked');
                        var likeCountText = likeBtn.find('.likeCount').text().trim(); // Remove leading and trailing whitespace
                        var likeCount = parseInt(likeCountText); // Parse the integer
                        if (!isNaN(likeCount)) { // Check if parsing was successful
                            likeBtn.find('.likeCount').text(likeCount - 1); // Update the like count
                        } else {
                            console.error('Invalid like count:', likeCountText);
                        }

                        $(`.likeBtn[data-post-id="${postId}"] .material-icons`).text('thumb_up_off_alt');
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            } else {
                // User is liking the post
                $.ajax({
                    type: "POST",
                    url: "http://localhost:8080/api/likes/like",
                    data: {
                        postId: postId,
                        userId: userId
                    },
                    success: function(response) {
                        likeBtn.addClass('liked');
                        var likeCountText = likeBtn.find('.likeCount').text().trim(); // Remove leading and trailing whitespace
                        var likeCount = parseInt(likeCountText); // Parse the integer
                        if (!isNaN(likeCount)) { // Check if parsing was successful
                            likeBtn.find('.likeCount').text(likeCount + 1); // Update the like count
                        } else {
                            console.error('Invalid like count:', likeCountText);
                        }

                        $(`.likeBtn[data-post-id="${postId}"] .material-icons`).text('thumb_up_alt').css('color', 'blue');
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            }
        });

        // Fetch posts comment
        function fetchCommentsForPost(postId) {
            $.ajax({
                type: "GET",
                url: "http://localhost:8080/api/posts/" + postId + "/comment",
                success: function(comments) {
                    var commentCount = comments.length;
                    $(`.commentCount[data-post-id="${postId}"]`).text(commentCount);
                    comments.forEach(function(comment) {
                        var commentHtml = `
                            <div class="d-flex mb-2">
                                <img src="${comment.user.photoImagePath}" class="img-fluid rounded-circle" alt="commenters-img"/>
                                <div class="ms-2 small">
                                    <div class="text-dark text-decoration-none">
                                        <div class="bg-light px-3 py-2 rounded-4 mb-1 chat-text">
                                            <a href="/profile/@${comment.user.username}" class="text-decoration-none text-dark"><p class="fw-500 mb-0">${comment.user.name}</p></a>
                                            <span class="text-muted">${comment.content}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        `;
                        $("#post-" + postId + "-comments").append(commentHtml);
                    });
                },
                error: function(xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }


        // Comment form submission handler
        $(document).on("submit", ".commentForm", function (event) {
            event.preventDefault();
            var postId = $(this).data("post-id");
            var content = $(this).find("input[name='content']").val();
            alert(postId + content);
            $.ajax({
                type: "POST",
                url: "http://localhost:8080/api/posts/" + postId + "/comment",
                processData: false,
                contentType: "application/json", // Set content type to JSON
                data: JSON.stringify({ // Convert data to JSON string
                    content: content,
                    userId: userId
                }),
                success: function (response) {
                    console.log(response);
                    fetchCommentsForPost(postId);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                    alert(xhr.responseText);
                }
            });
            // Implement AJAX call to add comment
        });


        // Follow user
        function followUser(followerId, followingId) {
            $.ajax({
                url: `/api/follows/follow`,
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ followerId: followerId, followingId: followingId }),
                success: function(response) {
                    console.log(response);
                    updateFollowButton(true);
                },
                error: function(error) {
                    console.error("Error following user:", error);
                }
            });
        }

        // Unfollow user
        function unfollowUser(followerId, followingId) {
            $.ajax({
                url: `/api/follows/unfollow`,
                method: 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify({ followerId: followerId, followingId: followingId }),
                success: function(response) {
                    console.log(response);
                    updateFollowButton(false);
                },
                error: function(error) {
                    console.error("Error unfollowing user:", error);
                }
            });
        }

        // Update follow button state
        function updateFollowButton(isFollowing) {
            if (isFollowing) {
                $('.follow').addClass('d-none');
                $('.following').removeClass('d-none');
            } else {
                $('.follow').removeClass('d-none');
                $('.following').addClass('d-none');
            }
        }

        // Event listener for follow/unfollow button
        $(document).on('change', '#btncheck1', function() {
            if ($(this).is(':checked')) {
                followUser(userId, userId);  // Replace with actual followerId and followingId
            } else {
                unfollowUser(userId, userId);  // Replace with actual followerId and followingId
            }
        });

        $('.logoutBtn a').on('click', function(event) {
            event.preventDefault();
            // Clear user details from localStorage
            localStorage.removeItem('userDetails');
            // Redirect to the logout endpoint or homepage
            window.location.href = "/login"; // Change to your actual logout endpoint if necessary
        });

    });
</script>

</body>
</html>
